<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report</title>
</head>
<body>
    <pre style="white-space: pre-wrap;">{{ raw }}</pre>
    <h2>Compression?</h2>
    {{#if compression}}
    <div class="bad">Yes</div>
    {{else}}
    <div class="good">no</div>
    {{/if}}
</body>
</html>
